@charset "utf-8";

.wrap{
  display:flex;
}
.box{
  display:flex;
  justify-content:center;
  /*align-items:center;*/
}

.api{
  text-align: center;
}

.btn {
  border-radius: 0px;
  background-color: white;
  padding: 0px;
  text-decoration: none;
  color: black;
  border: 1px solid #000000;
}

.poststable{
  text-align: center;
}

th,td{
  padding:5px;
  border: solid 1px black;
}

.poststable a{
  text-decoration: underline;
  text-decoration-color: black;
}

h1{
  line-height: 3;
  text-align: center;
  font-weight: bold;
}

h2{
  line-height: 3;
  font-size: 20px;
}